---
import Layout from "../layouts/Layout.astro";
import PricingPresentation from "../components/pricing";
---

<Layout title="Presentation Page">
  <main>
    <PricingPresentation client:only="react" />
  </main>
</Layout>
